header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(39, 43, 51);
  height: 50px;
}

header h1 {
  font-size: 20px;
}

nav {
  display: flex;
  gap: 10px;
}

header a {
  color: #fff;
}